select {
    width: 100px;
    margin: 10px 0;
    background-color: rgb(92, 87, 87);
    color: #fff;
}

.price-group {
    display: flex;
    align-items: center;
}

.price-group input {
    width: 650px;
}

input[check-box] {
    padding-right: 5px;
}