<form [formGroup]="estimatedBudgetForm" >
    <div class="container">
        <div class="b-form-readonly"></div>
        <div>
            
            <h5 class="text-uppercase">giá gói thầu tạm tính (estimated budget of package)</h5>
          <div class="separator"></div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <strong>Các mục đánh giá (item evaluation)</strong>
            </div>
            <div class="col-md-6">
                <strong>Nội dung & Nhận xét (Comments)</strong>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 d-flex mt-2">
                1. Giá gói thầu tạm tính (Draft budget of package)
            </div>
            <div class="col-md-6">
                <div class="price-group">
                    <input tabindex="1"  formControlName="draftBudgetOfPackage" class="price form-control" [attr.disabled]="estimatedBudgetForm.get('draftBudgetOfPackageCheckbox').value ? '' : null" myNumberOnly [value]="estimatedBudgetForm.get('draftBudgetOfPackage').value | thousandSeparate ">
                    <div>
                       <div formGroupName="draftBudgetOfPackageCurrency">
                    <kendo-dropdownlist name="currency" tabindex="2" formControlName="value" [data]="listCurrency"
                        [valuePrimitive]="true">
                    </kendo-dropdownlist>
                </div>
                      

                    </div>
                </div>

                <div class="mt-3 d-flex align-items-center">

                    <input tabindex="3" type="checkbox" class="" formControlName="draftBudgetOfPackageCheckbox">
                    <span class=" custom-control-indicator "></span>

                    <span>
                        Chưa có thông tin
                    </span>
                </div>
                <div class="mt-1 d-flex ">
                    <input tabindex="4" class="form-control " *ngIf="estimatedBudgetForm.get('draftBudgetOfPackageCheckbox').value === true" formControlName="draftBudgetOfPackageDesc">
                </div>

            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-md-6 d-flex align-items-center ">
                2. Ghi chú thêm (Additional notes)
            </div>
            <div class="col-md-6 ">
                <input tabindex="5" type="text " class="form-control " formControlName="additionalNote">
            </div>
        </div>
        <div class="text-center mt-4 ">

         

            <button class="btn  btn-nav ml-1" type="button" tabindex="5" (click)="saveAndNext()" routerLink="../contract-condition" >
                   Tiếp
                    <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
                </button>
                <button class="btn  btn-nav ml-1" type="button" tabindex="5" (click)="exportFile()" >
                    Xuất file Excel
                     <i class="fa font-size-3 ml-3 fa-angle-right" aria-hidden="true"></i>
                 </button>
           
        </div>
    </div>
</form>
