.group {
    display: flex;
    align-items: center;
}

.datePicker {
    width: 700px;
}

.pickerBtn {
    color: #fff;
    background-color: rgb(92, 87, 87);
    display: block;
    border-radius: 5px;
    margin-left: 2px;

}
.btn-nav{
    background-color: rgb(92, 87, 87);
    color:white;
}
.separator {
    margin: 1rem 0;
    border-bottom: 1px dashed rgb(0, 0, 0);
  }
  .container {
    background-color: #fff !important;
    padding: 30px 30px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }
