
<form [formGroup]="formLocation" (ngSubmit)="onSubmit(formLocation.value)">
    <div class="container">
        <div class="b-form-readonly"></div>
        <div>

            <h5 class="text-uppercase" *ngIf="formReady.id===null">Thêm khu vực gói thầu</h5>
            <h5 class="text-uppercase" *ngIf="formReady.id!==null" >Sửa khu vực gói thầu</h5>
            <div class="separator"></div>
        </div>

        <div class="row mt-3" >
            <div class="col-md-6" >

                <div class="row mt-3 " hidden="true" >
                    <div class="col-md-6 d-flex align-items-center " >
                        1.Id
                    </div>
                    <div class="col-md-6 ">
                        <input #autofocus class="form-control"
                         tabindex="1" type="text" placeholder="Id"
                        style="width:740px;"  formControlName="id" [value]="gId">
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-md-6 d-flex align-items-center ">
                        1.Tên khu vực
                    </div>
                    <div class="col-md-6 ">
                        <input #autofocus class="form-control"
                         tabindex="1" type="text" placeholder="Tên khu vực"
                        style="width:740px;"  formControlName="tenkhuvuc">
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-md-6 d-flex align-items-center ">
                      2.Mô tả
                    </div>
                    <div class="col-md-6 ">
                        <input #autofocus class="form-control"
                         tabindex="1" type="text" placeholder="Mô tả"
                        style="width:740px;"  formControlName="mota">
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-md-6 d-flex align-items-center ">
                        3.Tỉnh thành
                    </div>
                    <div class="col-md-6 ">
                        <input #autofocus class="form-control"
                         tabindex="1" type="text" placeholder="Tỉnh thành"
                        style="width:740px;"  formControlName="tinhthanh">
                    </div>
                </div>
                <button type="submit" [disabled]="!formLocation.valid" class="btn btn btn-primary" *ngIf="formReady.id===null"
                >
                  Thêm mới khu vực
                </button>
                <button type="submit" [disabled]="!formLocation.valid" class="btn btn btn-primary" *ngIf="formReady.id!==null"
                >
                  Sửa khu vực
                </button>




            </div>
        </div>
        </div>

  </form>
