
<div class="table-responsive text-nowrap">
    <div>
        <button [routerLink]="['add']"    class="btn btn btn-danger mb-5">
          Thêm
        </button>
      </div>
  <!--Table-->
  <table class="table table-striped">

    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Tên khu vực</th>
        <th>Mô tả</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>

      <tr *ngFor="let item of data;">
        <th scope="row">{{item.id}}</th>
        <td>{{item.tenkhuvuc}}</td>
        <td>{{item.mota}}</td>
        <td>
          <div class="group">
            <a  [routerLink]="['detail/', item.id]">Xem</a>
            <a >Sửa</a>
            <a >Xóa</a>
          </div>
        </td>
      </tr>

    </tbody>
    <!--Table body-->


  </table>
  <!--Table-->
</div>

<!--Section: Live preview-->
