<section   class="login-block">
    <div class="container">
      <div class="row">
          <div class="col-md-6 banner-sec">
              <div class="banner-content">
                <div class="logo-banner">
                  <img src="../../../assets/images/hawa_logo.png" alt="">
                    <strong class="text-uppercase title-logo-banner">hawa dds</strong>
                    <strong class="text-uppercase sub-title-logo-banner">
                      Hệ thống giải trình
                    </strong>
                    <strong class="text-uppercase sub-title-logo-banner">
                        và truy xuất nguồn gốc gỗ
                      </strong>



                </div>

              </div>
              <div class="banner-footer">
                  <strong>&copy; 2019 HAWA.All rights reverse</strong>
                  <strong>Powered by BYS</strong>
              </div>
            </div>
        <div class="col-md-6 login-sec">
          <h2 class="text-center">ĐĂNG KÝ/SIGN UP</h2>
          <form   class="login-form"  [formGroup]="loginForm2" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
                <nz-input-group  [nzPrefix]="prefixTemplateUser">
                    <input type="text" nz-input placeholder="User"  formControlName="username" class="form-control"  [ngClass]="{ 'is-invalid':  formErrors.username }">

                  </nz-input-group>
                  <div  class="invalid-feedback">
                      {{formErrors.username}}
                  </div>


            </div>
            <div class="form-group">
                <ng-template #prefixTemplateEmail><i nz-icon nzType="mail"></i></ng-template>
                <nz-input-group  [nzPrefix]="prefixTemplateEmail">
                    <input type="text" nz-input placeholder="Email(*)"  formControlName="email" class="form-control"  [ngClass]="{ 'is-invalid':  formErrors.email }">

                  </nz-input-group>
                  <div  class="invalid-feedback">
                      {{formErrors.email}}
                  </div>

            </div>
            <div class="form-group">
                <ng-template #prefixTemplatePass><i nz-icon nzType="lock"></i></ng-template>
                <nz-input-group  [nzPrefix]="prefixTemplatePass">
                    <input type="password" nz-input placeholder="Mật khẩu/Password(*)" class="form-control"  formControlName="password" [ngClass]="{ 'is-invalid':  formErrors.password }">

                  </nz-input-group>
                  <div  class="invalid-feedback">
                      {{formErrors.password}}
                  </div>

            </div>
            <div class="form-group">
                <ng-template #prefixTemplatePass><i nz-icon nzType="lock"></i></ng-template>
                <nz-input-group  [nzPrefix]="prefixTemplatePass">
                    <input type="password" nz-input placeholder="Nhập lại mật khẩu/Confirm password(*)" class="form-control"  formControlName="confirmpassword"  [ngClass]="{ 'is-invalid':  formErrors.confirmpassword }">

                  </nz-input-group>
                   <div  class="invalid-feedback">
                        {{formErrors.confirmpassword}}
                    </div>
            </div>
            <div class="form-title  pb-2">
                <strong>Bạn đăng ký tài khoản với vài trò/Register as role(*)</strong>
              </div>
            <div class="form-group" >
              <div class="row">
                  <div class="col">
                      <div>

                          <input type="radio" id="control_01" name="role" value="role1"  formControlName="role" checked>
                          <label class="label-radio" for="control_01">
                            <i class="fa fa-check-circle"></i>
                            <p>Cá nhân/Hộ gia đình</p>
                          </label>
                        </div>
                  </div>
                  <div class="col">
                      <div>
                          <input type="radio" id="control_02" name="role" value="role2" formControlName="role"  checked>
                          <label class="label-radio" for="control_02">
                            <i class="fa fa-check-circle"></i>
                            <p>Doanh nghiệp/Tổ chức/HTX</p>
                          </label>
                        </div>
                  </div>

              </div>
              <div  class="invalid-feedback">
                  {{formErrors.role}}
              </div>




            </div>



            <div class="form-group pt-1">
                <button nz-button nzType="primary" type="submit" style="background-color: rgb(20, 114, 84);;">TIẾP TỤC/NEXT</button>
            </div>

          </form>
          <div class="copy-text">
            <a href="" class="text-dark">Bạn đã có tài khoản?-Đăng nhập tại đây</a>
          </div>
        </div>

      </div>
      </div>
  </section>
