<div class="container" >
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h6 class="card-title text-center">PHẦN MỀM QUẢN LÝ DỰ THẦU</h6>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <input type="text"  class="form-control" placeholder="username" formControlName="userName" 
              [ngClass]="{ 'is-invalid': submitted && formControls.userName.errors }">
              <div *ngIf="submitted &&  formControls.userName.errors" class="invalid-feedback">
                <div *ngIf="formControls.userName.errors.required">Trường này là bắt buộc nhập</div>
            </div>
             
            </div>

            <div class="form-label-group">
              <input type="password"  class="form-control" placeholder="Password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" >
              <div *ngIf="submitted && formControls.password.errors"  class="invalid-feedback">
                <div *ngIf="formControls.password.errors.required">Trường này là bắt buộc nhập</div>
              </div>
            </div>

       
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">ĐĂNG NHẬP</button>
            <hr class="my-4">
      
          </form>
        </div>
      </div>
    </div>
  </div>
</div>