<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">PHIẾU ĐỀ NGHỊ DỰ THẦU (PROPOSED TENDER PARTICIPATING REPORT)</a>

            </div>

            <!-- sidebar-header  -->

            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>

                    <li class="sidebar-dropdown">
                        <a routerLink="estimated-budget">

                           IV.Giá gói thầu tạm tính

                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLink="contract-condition">

                            VI.Phân tích điều kiện hợp đồng

                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLink="director-proposal">

                            VII.Ý kiến đề xuất của Giám đốc dự thầu

                        </a>
                    </li>


                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->

    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

    </main>
    <!-- page-content" -->
</div>