<div>
  <div class="loginContainer row shadow" >
    <div class="col-md-4 p-0">
      <div class="loginImg">
      </div>
    </div>
    <div class="col-md-8">
      <div class="p-3 ">
        <div class="titleDiv">
          <h2 class="pagetitle">PHẦN MỀM QUẢN LÝ DỰ THẦU</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <section id="loginForm">
              <form autocomplete="off" class="form-horizontal" role="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="col-md-12" *ngIf="errorMsg">
                  <div class="form-group">
                      <div class="alert alert-danger" role="alert">
                        {{errorMsg}}
                        </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="Email">Tài khoản</label>
                    <input autocomplete="false" class="form-control valid"  id="Email" name="Email" type="text"
                formControlName="userName" (click)=hideError()
                [ngClass]="{ 'is-invalid': submitted && formControls.userName.errors }">
                <div *ngIf="submitted &&  formControls.userName.errors" class="invalid-feedback">
                  <div *ngIf="formControls.userName.errors.required">Trường này là trường bắt buộc nhập</div>
              </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="Password">Mật khẩu</label>
                    <input autocomplete="false" class="form-control valid" id="Password" name="Password" type="password"
                  formControlName="password" (click)=hideError()
                [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" >
                <div *ngIf="submitted && formControls.password.errors"  class="invalid-feedback">
                  <div *ngIf="formControls.password.errors.required">Trường này là trường bắt buộc nhập</div>
                </div>
                  </div>
                </div>
                <div class="col-md-offset-2 col-md-10 hideRow">

                </div>
                <div class="form-group">
                  <div class=" col-md-12">
                    <input type="submit" value="ĐĂNG NHẬP" class="btn btn-primary w-100">
                  </div>
                </div>

              </form>                        </section>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
