body {
  background-color: #F1F1F1;
  position: relative;
}.btn-primary{
border-radius:2px;
}
.loginContainer{
    width: 900px;
    height: auto;
  background-color: white;
  margin: auto;
  position: relative;
  margin-top: 100px;
}
label.control-label {
  margin-bottom: 5px;
  padding-left: 0;
color:#4D535F;
font-weight:bold;
}
.loginImg {
  height: 100%;
  width: 100%;
  background-image: url('../../../assets/images/Logo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
transition: all 0.3s ease;
}.titleDiv {
  padding: 10px;
  padding-left: 0px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}.pagetitle {
  transition: all 0.3s ease;
  font-size: 22px;
  font-weight: bold;
  color: #0072c5;
  display: inline-block;
  margin-bottom: 0px !important;
  
}.form-horizontal {
  margin: auto;
  padding: 10px;
  padding-top: 21px;
  background-color: white;
}
.form-control {
  background-color: #EDF2F6;
  border-radius: 2px;
  border: 1px solid #E0DFDF;
}
.form-control.is-invalid{
  border-color:#dc3545 !important;
  background-image: url('../../../assets/images/icon.svg');
}

@media (max-width: 768px){
.loginContainer {
  margin-top: 0% !important;
  position: relative;
  width: 90%;
      top: 100px;
  transform: inherit;
  padding: 0px;
  left: auto;
}
.loginImg {
  width: 100%;
height:70px;
background-position:center -60px;
background-size:cover;
 display: none;
}
.loginContainer a{
  display:block;
}

}