
<form [formGroup]="uploadForm">
    <div class="container">
        <div class="b-form-readonly"></div>
        <div>

            <h5 class="text-uppercase">upload hồ sơ mời thầu</h5>
            <div class="separator"></div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">

                <div class="row mt-3 ">
                    <div class="col-md-6 d-flex align-items-center ">
                        1. Đường dẫn link
                    </div>
                    <div class="col-md-6 ">
                        <input #autofocus class="form-control"
                        formControlName="link" tabindex="1" type="text" [attr.disabled]="uploadForm.get('fileUpload').value ? '' : null"
                        (click)=inputChange() style="width:740px;">
                    </div>
                </div>
                <div class="row mt-3 ">
                        <div class="col-md-6 d-flex align-items-center ">
                            2. Hoặc
                        </div>
                        <div class="col-md-6 ">
                                <div class="fileUpload">
                                        <button class="btn btn-nav" style="width: 150px;border-radius: 3px;"    (click)=inputChange()  [attr.disabled]="uploadForm.get('link').value ? '' : null">
                                            <i class="fa fa-cloud-upload " aria-hidden="true"></i>&nbsp;&nbsp;
                                            Chọn File</button>
                                        <input type="file" class="upload "  [attr.disabled]="uploadForm.get('link').value ? '' : null"       (click)=inputChange() formControlName="fileUpload" (change)="fileEvent($event)" tabindex="2"  accept=".jpg, .jpeg, .pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx"/>
                                    </div>
                                    <div  class="d-flex justify-content-between">
                                        <div> <span class="text-breakline" style="padding: 20px;">{{filename}}</span></div>
                                        <div *ngIf="filename">
                                          <button (click)="deleteFileUpload()"
                                              class="btn btn-secondary">X</button>
                                      </div>
                                      </div>
                                        
                        </div>
                    </div>
                    <div class="row mt-3 ">
                            <div class="col-md-6 d-flex align-items-center ">
                                3. Tên
                            </div>
                            <div class="col-md-6 ">
                                    <input #autofocus class="form-control"
                                    tabindex="4" type="text" formControlName="editName"
                                    style="width:740px;">
                            </div>
                        </div>
                        <div class="row mt-3 ">
                                <div class="col-md-6 d-flex align-items-center ">
                                    4. Phiên bản
                                </div>
                                <div class="col-md-6 ">
                                        <input #autofocus class="form-control"
                                        tabindex="5" type="text" formControlName="version"
                                        style="width:740px;">
                                </div>
                            </div>
                            <div class="row mt-3 ">
                                    <div class="col-md-6 d-flex align-items-center ">
                                       5. Ngày nhận HSMT
                                    </div>
                                    <div class="col-md-6 ">
                                            <div class="group">
                                                    <input tabindex="7" formControlName="date" class="form-control datePicker" matInput [matDatepicker]="picker" 
                                                    style="min-width:700px !important;">
                                                    <div>
                                                        <mat-datepicker-toggle tabindex="6"  matSuffix [for]="picker" class="pickerBtn"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                                <div class="row mt-3 ">
                                        <div class="col-md-6 d-flex align-items-center ">
                                           6. Mô tả/nội dung cập nhật
                                        </div>
                                        <div class="col-md-6 ">
                                                <textarea class="form-control" rows="3" tabindex="7" formControlName="description"
                                                style="width:740px;"></textarea>
                                        </div>
                                    </div>
                                    <div class=" center-parent" *ngIf="errorMess" class="alert alert-danger" role="alert">
                                            <span> {{errorMess}}</span>
                                        </div>
                                       <div class="row mt-5">
                                            <div class="col-md-6 ">
                                                
                                            </div>
                                            <div class="col-md-6 ">
                                                    <div class="group">
                                                            <button  tabindex="8" type="submit" class="btn btn-nav ml-1 " (click)="submitForm()">
                                                                Upload
                                                            </button>
                                                          
                                                            <button tabindex="9" class="btn btn-secondary ml-1 " >
                                                                Hủy
                                                            </button>
                                                        </div>
                                            </div>
                                       
                                       </div>
                

            </div>
        </div>
        </div>

</form>