.fileUpload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: auto;


}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.noti{
  color:red;
}
.group {
  display: flex;
  align-items: center;
}

.datePicker {
  width: 700px;
}

.pickerBtn {
  color: #fff;
  background-color: rgb(92, 87, 87);
  padding: 8px 0px;
  border-radius: 5px;
  margin-left: 2px;

}
