
<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-striped">

      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Tên khu vực</th>
          <th>Mô tả</th>
          <th>Tỉnh thành</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>

        <tr>
          <th scope="row">{{dataLocation.id}}</th>
          <td>{{dataLocation.tenkhuvuc}}</td>
          <td>{{dataLocation.mota}}</td>
          <td>{{dataLocation.tinhthanh}}</td>
        </tr>

      </tbody>
      <!--Table body-->


    </table>
    <!--Table-->
  </div>

  <!--Section: Live preview-->
