<section class="login-block">
  <div class="container">
    <div class="row">
        <div class="col-md-6 banner-sec">
            <div class="banner-content">
              <div class="logo-banner">
                <img src="../../../assets/images/hawa_logo.png" alt="">
                  <strong class="text-uppercase title-logo-banner">hawa dds</strong>
                  <strong class="text-uppercase sub-title-logo-banner">
                    Hệ thống giải trình
                  </strong>
                  <strong class="text-uppercase sub-title-logo-banner">
                      và truy xuất nguồn gốc gỗ
                    </strong>



              </div>

            </div>
            <!-- <div class="banner-footer">
                <strong>2019 HAWA.All rights reverse</strong>
                <strong>Powered by BYS</strong>
            </div> -->
          </div>
      <div class="col-md-6 login-sec">
        <h2 class="text-center">ĐĂNG KÝ/SIGN UP</h2>
        <form class="login-form">

          <div class="form-group">
              <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
              <nz-input-group  [nzPrefix]="prefixTemplateUser">
                  <input type="text" nz-input placeholder="User" />
                </nz-input-group>



          </div>
          <div class="form-group">
              <ng-template #prefixTemplateEmail><i nz-icon nzType="mail"></i></ng-template>
              <nz-input-group  [nzPrefix]="prefixTemplateEmail">
                  <input type="text" nz-input placeholder="Email(*)" />
                </nz-input-group>

          </div>
          <div class="form-group">
              <ng-template #prefixTemplatePass><i nz-icon nzType="lock"></i></ng-template>
              <nz-input-group  [nzPrefix]="prefixTemplatePass">
                  <input type="text" nz-input placeholder="Mật khẩu/Password(*)" />
                </nz-input-group>

          </div>
          <div class="form-group">
              <ng-template #prefixTemplatePass><i nz-icon nzType="lock"></i></ng-template>
              <nz-input-group  [nzPrefix]="prefixTemplatePass">
                  <input type="text" nz-input placeholder="Nhập lại mật khẩu/Confirm password(*)" />
                </nz-input-group>

          </div>
          <div class="form-title pt-2 pb-2">
              <strong>Bạn đăng ký tài khoản với vài trò/Register as role(*)</strong>
            </div>
          <div class="form-group">
            <div class="row">
                <div class="col">
                 
                    <label nz-radio-button class="checkbox" >Cá nhân/Hộ gia đình</label>
                </div>
                <div class="col">
                    <label nz-radio-button  class="checkbox">Doanh nghiệp/Tổ chức/HTX</label>
                </div>
            </div>



          </div>



          <div class="form-group pt-4">
              <button nz-button nzType="primary">TIẾP TỤC/NEXT</button>
          </div>

        </form>
      </div>

    </div>
    </div>
</section>
